{% extends 'base.html' %}
{% load static %}



{% block content %}

    {% if user.is_authinticated %}
        <div class="login_container">
            <a href="{% url 'dashboard' %}"><button>To Dashboard</button></a>
        </div>

        {% else %}
            <div class="else_container">
                <div class="else_header">Welcome to Track-It!</div>
                <div class="login_register_container">
                <div class="login_container">
                    <a class="login_link" href="{% url 'auth_login' %}">Login</a> 
                </div>
            </div>
    {% endif %}
    </div>

{% endblock %}