{% extends 'base_login.html' %}
{% load static %}



{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/login.css' %}">

    <div class="main_box_container">
        <div class="logo">
            <img class="logo" src="{% static 'assets/cover.png' %}">
        </div>
        <div class="login_container">
            <form class="login_form">
                <div class="form_username">
                    <input type="text" placeholder="Username">
                </div>
                <div class="form_password">
                    <input type="text" placeholder="Password">
                </div>
                <div class="form_submit">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

    </div>

{% endblock %}